@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  font-family: Poppins;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background: #212025;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-container {
  display: grid;
  gap: 2rem;

  h2 {
    color: #7cfed1;
    font-size: 1.5rem;
    text-align: center;
  }
  input {
    padding: 0.4rem 2rem 0.4rem 0.5rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 1px 1px 2px 2px black;
    width: 60%;
  }
  button[type="submit"] {
    background-color: #383840;
    color: white;

    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem 2rem;
  }
}

form {
  display: grid;
  gap: 0.5rem;

  button[type="submit"] {
    width: 25%;
    margin: 0 auto;
  }
}

.form-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem 0 0.5rem 2rem;
  width: 100%;

  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.toggle {
  display: grid;
  place-items: center;

  .active {
    background-color: white !important;
    color: black !important;
    text-transform: none;
    font-family: Poppins;
  }
  .not-active {
    background: #1f1f1f !important;
    color: white !important;
    text-transform: none;
    font-family: Poppins;
  }
}

.google-signIn {
  @include flex-center-center;
  border: 1px solid black;
  width: max-content;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.343);
  padding: 0.5em 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  margin: 0 auto;
}

.divide {
  text-align: center;
  color: #7cfed1;
}

main {
  display: grid;
  justify-content: center;
  margin: 2rem 0;
  gap: 3rem;
  padding: 2rem;
  h1 {
    color: white;
  }
  form {
    @include flex-center-center;
    input {
      padding: 0.4rem 2rem 0.4rem 0.5rem;
      border-radius: 0.25rem;
      border: none;
      box-shadow: 1px 1px 2px 2px black;
      width: 60%;
    }
    button[type="submit"] {
      background-color: #1f1f1f;
      padding: 0.4rem 0.5rem 0.4rem 0.5rem;
      border-radius: 0.25rem;
      color: white;
      box-shadow: 1px 1px 2px 2px rgb(139, 138, 138);
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    gap: 1rem;
    margin: 2rem 0;
    list-style-type: none;

    .card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: #efeeee;
      box-shadow: 1px 1px 2px 2px rgb(139, 138, 138);
      padding: .85rem 0.5rem;
      width: 150px;
      color: black;
      border-radius: 0.25rem;
      li {
        grid-column: 1;
        grid-row: 2;
      }
      button {
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        border: none;
        border-radius: 0.25rem;
        grid-column: 3;
        grid-row: 1;
        color: white;
        background-color: rgb(157, 5, 5);
      }
    }
  }
}
